html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 200;
  background-color: #000000;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  text-shadow: 2px 2px 6px black, -2px 2px 6px black, -2px -2px 6px black, 2px -2px 6px black;
  font-family: sans-serif;
}

li, p, a, ul{
  max-width: 650px;
  line-height: 1.5;
  padding-bottom: 10px;
  /*letter-spacing: 1.2;*/

  /*font-size: 24px;*/
}

.highlight{
  color: #3aa3ff;
}

a{
  /*font-size: 48px;*/
  color: #3aa3ff;
  transition: transform .3s ease, color .2s ease;
}

a:hover{
  color: #fce400;
  transform-origin: 0% 50%;
  cursor: pointer;
  transform: scale(1.3);
  transition: transform .3s ease, color .2s ease;
}


.info{
  /*position: absolute;*/
  top: 0; left: 0;
  padding: 0 40px 0 40px;
  width: 100vw;
  /*height: 100vh;*/

  margin-bottom: 5rem;
  background: transparent;
}

.behind{
    z-index: -999;
}


.title{
  font-size: 21vw;
  line-height: 18vw;
  font-weight: 200;
  letter-spacing: -1vw;
  /*color: white;*/
  margin: 4vw 0 0 -1vw;
  z-index: 999;
  width: 100%;
  overflow-wrap: break-word;
  /*position: fixed;/*/
}

h3{
  /*font-size: 52px;*/
  /*position: relative;*/
  font-weight: 200;
  background: black;
  border: 1px solid white;
  margin: 60px 40px 20px 0;
  padding: 10px;
  display: inline-block;
}


.class{
    /*position: absolute;*/
  /*top: 0; left: 0;*/
  /*padding : 1rem;*/
/*  display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  /*height: 100vh;*/
  /*width: 100vw;*/
  /*overflow: scroll;*/
  /*-webkit-overflow-scrolling: touch;*/
  width: 100%;
  /*border: 1px solid white;*/
  display: inline-block;

}

.person{
  width: 25%;
  min-width: 150px;
  /*max-width: 300px;*/
  padding: 2vw 4vw 2vw 0;
  display: inline-block;
  /*flex-shrink: 1;*/
  transition: transform .3s ease;
}

.person:hover{
  transform-origin: 50% 50%;
  cursor: pointer;
  transform: scale(1.1) rotate(10deg);
  transition: transform .3s ease;
}

/*.name{
  position: absolute;
}*/



.teachers:hover{
  transform-origin: 50% 50%;
  cursor: pointer;
  transform: scale(1.1) rotate(10deg);
  transition: transform .3s ease;
}

.image{
  width: 100%;
  border-radius: .5rem;
}


.teach{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img{
  /*filter: grayscale(100%) drop-shadow(0px 4px 5px grey);*/
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}


.x{
  opacity: 1;
  transition: opacity .5s ease-in;
  cursor: pointer;
  /*height: 50px;*/
  color: yellow;
  width: 100vw;
  font-size: 120px;
}

@-webkit-keyframes colorchange {
      0% {

        color: red;
      }
      50% {

        color: yellow;
      }
      100% {

        color: red;
      }
    }

.people a{
  cursor: n-resize;
  animation:colorchange 1s infinite;
}


@media only screen and (max-width: 550px) {
  .title{
    /*font-size: 72px;*/
    /*padding: 1rem;*/
  }

  p,ul{
    /*padding: 1rem;*/
  }
  a{
    /*font-size: 32px;*/
  }
  .info{
    padding: 0 20px 0 20px;
  }
  .x{
    font-size: 48px;;
  }
  .person{
      width: 50%;
      /*min-width: 150px;*/
      /*max-width: 300px;*/
      padding: 2vw 4vw 2vw 0;
  }
}
