body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  font-family: 'Rubik',sans-serif;
  font-size: 24px;
  background-color: blue;
  color: yellow;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

li, p, a{
  font-family: 'Work Sans', sans-serif;
  max-width: 900px;
  line-height: 1.5;
  letter-spacing: 1.2;
  /*font-size: 24px;*/
  color: yellow;
}

a{
  font-size: 48px;
  color: yellow;
}


.class{
  padding : 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

}

.person{
  width: 20vw;
  min-width: 150px;
  max-width: 300px;
  /*flex-shrink: 1;*/
  transition: transform 1s ease;
}

.person:hover{
  transform-origin: 50% 50%;
  cursor: pointer;
  transform: scale(1.5) rotate(20deg);
}

.name{
  position: absolute;
}

.image{
  width: 100%;
}

.info{
  position: absolute;
  top: 0; left: 0;
  padding-left: 2vw;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  margin-bottom: 5rem;
}

.behind{
    z-index: -999;
}

.title{
  font-size: 172px;
  /*color: white;*/
  z-index: 999;
  width: 100%;
  /*position: fixed;/*/
}

.title2{
  font-size: 52px;
}

.x{
  opacity: 1;
  transition: opacity .5s ease-in;
  cursor: pointer;
  /*height: 50px;*/
  color: yellow;
  width: 100vw;
  font-size: 120px;
}

@-webkit-keyframes colorchange {
      0% {

        color: red;
      }
      50% {

        color: yellow;
      }
      100% {

        color: red;
      }
    }

.people a{
  cursor: n-resize;
  color: red;
  animation:colorchange 5s infinite;
}

.teach{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.teachers{
  /*width: 20vw;*/
  /*min-width: 100px;*/
  max-width: 150px;
  transition: transform 1s ease;
}

.teachers:hover{
  transform-origin: 50% 50%;
  cursor: pointer;
  transform: scale(1.5) rotate(20deg);
}

img{
  /*filter: grayscale(100%) drop-shadow(0px 4px 5px grey);*/
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

@media only screen and (max-width: 550px) {
  .title{
    font-size: 72px;
    padding: 1rem;
  }

  .title2{
    font-size: 25px;
    padding: 1rem;
  }

  body{
    font-size: 16px;
    overflow-x: hidden;
  }
  p{
    padding: 1rem;
  }
  a{
    font-size: 32px;
  }
  .info{
    padding: 0;
  }
  .x{
    font-size: 48px;;
  }
}
